body {
  background-color: lightblue;
}

p {
  color: orange;
}

.purpleText {
  color: purple;
}

#myFirstID {
  color: red;
}

.italicText {
  font-style: italic;
}

.fontChange {
  font-family: Calibri,serif;
}
