body {
  color: white;
  margin-top: 8px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 100px;

}

.wrapper{

}

.header {
  height: 100px;
  text-align: center;
  background-color: red;
  padding: 10px;
}

.body {
  background-color: green;
  text-align: left;
  height: 1000px;
  padding-top: 15px;
}

.footer {
  background-color: blue;
  height: 100px;
  padding-top: 15px;
}
